<!DOCTYPE html>
<html>
<head>
  <title>Index</title>
</head>
<body>
  <div>
    <div>
      <div align="right">
        {% if user.is_authenticated %}
          <p>{{ user }}</p>
          <p><a href="{% url 'users:logout' %}">Logout</a></p>
          <p><a href="{% url 'users:profile' user.pk %}">Profile</a></p>
        {% else %}
          <table>
            <tr>
              <td><a href="{% url 'users:login' %}">Login</a></td>
              <td><a href="{% url 'users:register' %}">Register</a></td>
            </tr>
          </table>
        {% endif %}
      </div>
    </div>
  </div>
  <div>
    <div align="center">
      <h1>Welcome</h1>
    </div>
  </div>
</body>
</html>